.card-title{
    font-size: 1rem;
    height: 60px;
    overflow: auto;
}
.card-title::-webkit-scrollbar{
    display: none;
}
.card-source{
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    background-color: rgb(241, 240, 239);
    padding-top: 6px;
}
.card-text{
    font-size: 0.9rem;
    height: 150px;
    overflow: auto;
}

.card-text::-webkit-scrollbar{
    display: none;
}
